@import '@/styles/theme';

.table_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table_element {
  min-width: 200px;

  button {
    border-radius: 0;
    border-top: 1px solid $color-gray400;
  }

  &:first-child button:first-child {
    border-top: none;
    border-top-left-radius: $radius-xs;
  }

  &:first-child button:last-child {
    border-top: none;
    border-top-right-radius: $radius-xs;
  }

  &:last-child button {
    border-bottom-left-radius: $radius-xs;
    border-bottom-right-radius: $radius-xs;
  }

  &:last-child .element_content_visible {
    border-bottom: 1px solid $color-gray400;
    border-bottom-left-radius: $radius-xs;
    border-bottom-right-radius: $radius-xs;
  }
}

.item_last_open {
  button {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.element_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-gray300;
  padding: $spacing-md;
  height: 50px;
  width: 100%;
  color: $color-textLight;

  svg {
    margin-right: $spacing-md;
  }
}

.arrow {
  transition: all 0.05s ease-in-out;
}

.arrow_down {
  transition: all 0.05s ease-in-out;
  transform: rotate(90deg) translateX(4px) translateY(2px);
}

.element_header:hover {
  background-color: $color-gray400;
}

.element_header_active {
  background-color: $color-gray400;
}

.element_content_hidden {
  display: none;
  transition: all 0.25s ease-in-out;
}

.element_content_visible {
  display: flex;
  padding: $spacing-md;
  transition: all 0.25s ease-in-out;
  border: 1px solid $color-gray400;
  border-bottom: none;
}

.no_bottom_radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.item_title {
  font-size: $font-md;
  color: $color-textMedium;
  margin-right: $spacing-md;
  font-weight: 600;
}

.item_description {
  font-size: $font-sm;
  color: $color-textLight;
}

.header {
  display: flex;
  flex-direction: row;
}

.delete_button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 100%;
  min-height: 50px;
  background-color: $color-gray400;

  svg {
    fill: $color-error600;
    opacity: 0.5;
  }

  &:hover {
    background-color: $color-gray300;
    svg {
      opacity: 1;
    }
  }
}
