@import '@/styles/theme';

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  background-color: $color-white;
  width: 100%;
  max-width: 475px;
  padding: $spacing-4xl;
  border-radius: $radius-sm;
  box-shadow: $shadow-form;
  z-index: 1;
  margin: $spacing-lg;

  @media (max-width: $breakpoint-phone) {
    padding: $spacing-xl;
    gap: $spacing-xl;
  }
}

.password_checker_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: $spacing-lg;
  font-size: $font-xs;
  margin-top: -$spacing-mdl;
}

.password_checker {
  width: 85px;
  height: 8px;
  border-radius: $radius-xs;
  margin-bottom: $spacing-xs;
}

.poor {
  background-color: #ff4d4f;
}

.weak {
  background-color: #faad14;
}

.normal {
  background-color: #ad6800;
}

.good {
  background-color: #52c41a;
}
