@import '@/styles/theme';

.wrapper {
  display: flex;

  button:hover {
    background-color: $color-gray600;
  }
}

.navigation_buttons {
  padding: $spacing-sm $spacing-sm;
  font-size: $font-xs;
  cursor: pointer;
  background-color: $color-gray500;
  color: $color-white;
  border: none;
  border-radius: $radius-xs;
  height: 22px;
  margin: 0 $spacing-xs;
}

.today_button {
  margin: 0 $spacing-xs;
  height: 22px;
  cursor: pointer;
  background-color: $color-gray500;
  color: $color-white;
  border: none;
  border-radius: $radius-xs;
  height: 22px;
  padding: $spacing-sm $spacing-mdl;
  font-size: $font-xs;
}
