@import '@/styles/theme';

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  background-color: $color-white;
  width: 100%;
  max-width: 475px;
  padding: $spacing-4xl;
  border-radius: $radius-sm;
  box-shadow: $shadow-form;
  z-index: 1;
  margin: $spacing-lg;

  @media (max-width: $breakpoint-phone) {
    padding: $spacing-xl;
    gap: $spacing-xl;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $color-white;

  @media (max-width: $breakpoint-phone) {
    flex-direction: column;
  }

  button {
    font-size: $font-sm;
    color: $color-primary;
    background-color: $color-transparent;
    border: none;
    padding: 0;
    color: $color-gray500;
    display: flex;
    align-items: center;

    span {
      margin-left: $spacing-md;
    }
  }

  button:hover {
    color: $color-primary;
  }
}

.empty_space {
  width: 83px;
  height: 10px;
}

.title {
  font-size: $font-lg;
  font-weight: 500;
  align-self: center;
}

.instructions {
  font-size: $font-md;
  color: $color-gray500;
  margin-bottom: $spacing-xl;
}

.sent_email_success {
  display: flex;
  flex-direction: column;

  svg {
    width: 50px;
    height: 50px;
    color: $color-success600;
  }
}

.success_text {
  font-size: $font-md;
  color: $color-gray500;
  margin-top: $spacing-4xl;
  margin-bottom: $spacing-xl;
  text-align: center;
}
